.brown_item_box {
	BORDER-BOTTOM: #c4bb80 4px solid; BORDER-LEFT: #c4bb80 4px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 966px; PADDING-RIGHT: 3px; OVERFLOW: hidden; BORDER-TOP: #c4bb80 4px solid; BORDER-RIGHT: #c4bb80 4px solid; PADDING-TOP: 3px
}
.item_top .item .brown_on {
	HEIGHT: 22px; OVERFLOW: hidden
}
.item_top .item .brown_on FONT {
	LINE-HEIGHT: 22px; PADDING-LEFT: 15px; DISPLAY: block; BACKGROUND: url(brown.gif) no-repeat left -23px; FLOAT: right; HEIGHT: 22px; FONT-SIZE: 12px
}
.item_top .item .brown_on FONT A {
	PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(brown.gif) no-repeat right -23px
}
.item_top .item .brown_cur {
	HEIGHT: 22px; OVERFLOW: hidden
}
.item_top .item .brown_cur FONT {
	TEXT-ALIGN: right; LINE-HEIGHT: 22px; PADDING-LEFT: 15px; DISPLAY: block; BACKGROUND: url(brown.gif) no-repeat left 0px; FLOAT: right; HEIGHT: 22px; FONT-SIZE: 12px
}
.item_top .item .brown_cur FONT A {
	PADDING-RIGHT: 15px; DISPLAY: block; BACKGROUND: url(brown.gif) no-repeat right 0px
}
.item_top .item .li FONT {
	MARGIN: 0px 10px; WIDTH: 3px; DISPLAY: block; BACKGROUND: url(brown.gif) no-repeat left -44px; FLOAT: right; HEIGHT: 22px
}
